id: shiro-default-key-cbc

info:
  name: Detect Shiro Default Key
  author: SleepingBag945
  severity: critical
  description: Shiro框架默认key kPH+bIxk5D2deZiIxcaaaA== ,可尝试寻找利用链进行命令执行。
  tags: tech,shiro

http:
  - raw:
      - |
        GET / HTTP/1.1
        Host: {{Hostname}}
        Cookie: JSESSIONID={{randstr}};rememberMe=123;

      - |
        GET / HTTP/1.1
        Host: {{Hostname}}
        Cookie: JSESSIONID={{randstr}};rememberMe=3vakOJDcITulYawMdd4UijbPyPpv8wZkOZ7Yt0wBjT4GCmUbx1yXymqb1BLnkvBmJlQ/AWSKtysv9yV4IwHA2sr41OgrkhFABXpf3OJd8xei5RUuTMJVEVklCQuZD/diciR0hSKqwlw0vJ40XU41Osv2wsVVIurD7FoGziYufa74Jbo1VW7oWtWVNyaRLVyA;



    # host-redirects: true
    # max-redirects: 2
    req-condition: true
    matchers:
      - type: dsl
        dsl:
          - 'contains(header_1, "Set-Cookie") && (contains(header_1, "rememberMe=") || contains(header_1, "=deleteMe"))'
          - '!contains(header_2, "rememberMe=") && !contains(header_2, "=deleteMe")'
        condition: and

#kPH+bIxk5D2deZiIxcaaaA==