id: erpnext-default-login

info:
  name: ERPNEXT 默认密码
  author: SleepingBag945
  severity: high

http:
  - raw:
      - |
        POST / HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0.3 Safari/605.1.15
        Content-Type: application/x-www-form-urlencoded
        Accept-Encoding: gzip
        
        cmd=login&usr=Administrator&pwd=admin&device=desktop

    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: word
        words:
          - "sid="
        part: header
        condition: and
      - type: word
        words:
          - "Logged In"
        part: body
        condition: and