id: hikvision-intercom-service-default-password

info:
  name: Hikvision Intercom Service Default Password (admin/12345)
  author: xueba
  severity: medium
  reference: https://www.cnvd.org.cn/flaw/show/CNVD-2021-34568

http:
  - raw:
      - |
        POST /authorize.action HTTP/1.1
        Host: {{Hostname}}

        username=admin&userpsw=827ccb0eea8a706c4c34a16891f84e7b&language=zh_cn

    matchers-condition: and
    matchers:
      - type: word
        part: body
        words:
          - '{"success": true, "msg": "OK"}'

      - type: status
        status:
          - 200