id: openfire-default-password

info:
  name: OpenFire Default Password
  author: SleepingBag945
  severity: high
  description: |
    openfire允许后台上传未经校验的恶意插件，可导致直接getshell和控制服务器。
  reference:
    - https://mp.weixin.qq.com/s/PGaCY-GbWyx8z2nLErNlUg
  tags: openfire,default-login

http:
  - raw:
      - |
        POST /login.jsp HTTP/1.1
        Host: {{Hostname}}

        url=%2Findex.jsp&login=true&username=admin&password=admin

    attack: clusterbomb
    payloads:
      username:
        - admin
      password:
        - admin
        - admin888
        - 123456
        - 12345678
        - openfire
    stop-at-first-match: true

    matchers-condition: and
    matchers:
      - type: word
        part: header
        words:
          - "ocation:"
          - "/index.jsp"
        condition: and

      - type: status
        status:
          - 302